.white-block{
	background-color: #fff;
	margin-bottom: 20px;
}
.body-row{
	margin-left: 0px;
    margin-right: 0px;
}
.dt-buttons{
	margin-bottom: 20px;
}
.margin-b-20{
	margin-bottom: 20px !important;
}


@media (min-width: 1250px) {
	.table-monitor td,
	.table-monitor th{
		font-size: 11px !important;
	}
}